docs/n8n-workflow.json
{
  "name": "Maneva Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "maneva-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1a2b3d4-1111-1111-1111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "c1a2b3d4-0000-0000-0000-000000000000"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.message }}",
        "options": {
          "systemMessage": "Eres el asistente IA de Maneva, una app de reservas de peluquería y belleza. Tu personalidad es amigable, cercana y profesional.\n\nPuedes:\n- Conversar de forma natural sobre peluquería, belleza y tendencias capilares\n- Recomendar salones usando la herramienta buscar_salones\n- Recomendar peluqueros/estilistas usando la herramienta buscar_peluqueros\n\nCuando el usuario mencione una ciudad concreta, úsala para filtrar. Cuando mencione una especialidad (coloración, corte, barba, etc.), úsala para filtrar peluqueros.\n\nREGLA CRÍTICA: Tu respuesta SIEMPRE debe ser ÚNICAMENTE un JSON válido con exactamente esta estructura. Sin texto adicional. Sin markdown. Solo el JSON:\n{\"reply\": \"Tu mensaje aquí\", \"salons\": [], \"stylists\": []}\n\nCuando incluyas salones en 'salons', cada objeto debe tener:\n{\"id\": \"uuid\", \"name\": \"nombre\", \"city\": \"ciudad\", \"photo_url\": null}\n\nCuando incluyas peluqueros en 'stylists', cada objeto debe tener:\n{\"id\": \"uuid\", \"display_name\": \"nombre profesional\", \"specialty\": \"especialidad\", \"photo_url\": null, \"salon_name\": \"nombre del salón\", \"salon_id\": \"uuid del salón\", \"location_id\": \"uuid de la ubicación\"}\n\nSi solo conversas sin recomendar nada, deja ambos arrays vacíos []."
        }
      },
      "id": "c1a2b3d4-2222-2222-2222-222222222222",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [500, 300]
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "id": "c1a2b3d4-3333-3333-3333-333333333333",
      "name": "DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [360, 520],
      "credentials": {
        "openAiApi": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL_DEEPSEEK",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $('Webhook').item.json.session_id }}",
        "contextWindowLength": 10
      },
      "id": "c1a2b3d4-4444-4444-4444-444444444444",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [500, 520]
    },
    {
      "parameters": {
        "description": "Busca salones de peluquería y belleza en la base de datos. Úsala cuando el usuario quiera encontrar un salón, pregunte por salones en una ciudad, o pida recomendaciones de salones.",
        "method": "GET",
        "url": "https://REEMPLAZAR_PROJECT_ID.supabase.co/rest/v1/salon_locations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,name,city,salon_id,salons(id,name,logo)"
            },
            {
              "name": "active",
              "value": "eq.true"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "optimizeResponse": true
      },
      "id": "c1a2b3d4-5555-5555-5555-555555555555",
      "name": "buscar_salones",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [640, 520],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL_SUPABASE",
          "name": "Supabase Anon Key"
        }
      }
    },
    {
      "parameters": {
        "description": "Busca peluqueros y estilistas en la base de datos. Úsala cuando el usuario pregunte por peluqueros, quiera encontrar un especialista concreto (coloración, corte, barba, etc.) o pida recomendaciones de profesionales.",
        "method": "GET",
        "url": "https://REEMPLAZAR_PROJECT_ID.supabase.co/rest/v1/employees",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,bio,position,specialties,photo_url,location_id,salon_locations(id,city,salon_id,salons(id,name))"
            },
            {
              "name": "active",
              "value": "eq.true"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "optimizeResponse": true
      },
      "id": "c1a2b3d4-6666-6666-6666-666666666666",
      "name": "buscar_peluqueros",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [780, 520],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL_SUPABASE",
          "name": "Supabase Anon Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $input.first().json.output || '';\n\nlet parsed;\ntry {\n  const jsonMatch = agentOutput.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(jsonMatch ? jsonMatch[0] : agentOutput);\n} catch {\n  parsed = { reply: agentOutput, salons: [], stylists: [] };\n}\n\nreturn [{\n  json: {\n    reply: typeof parsed.reply === 'string' ? parsed.reply : agentOutput,\n    salons: Array.isArray(parsed.salons) ? parsed.salons : [],\n    stylists: Array.isArray(parsed.stylists) ? parsed.stylists : [],\n  }\n}];"
      },
      "id": "c1a2b3d4-7777-7777-7777-777777777777",
      "name": "Formatear respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "c1a2b3d4-8888-8888-8888-888888888888",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "AI Agent": {
      "main": [
        [{ "node": "Formatear respuesta", "type": "main", "index": 0 }]
      ]
    },
    "Formatear respuesta": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]
      ]
    },
    "buscar_salones": {
      "ai_tool": [
        [{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "buscar_peluqueros": {
      "ai_tool": [
        [{ "node": "AI Agent", "type": "ai_tool", "index": 1 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": []
}
